@use './variable.scss' as *;

.list_blog_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    align-items: center;
    > h2{
        font-size: 0.7rem;
    }
    > p{
        font-size: 0.6rem;
    }
    > img{
        width: 80px;
        height: 100px;
        object-fit: cover;
    }

    > button{
        padding: 5px;
        font-size: 1.1rem;
        background-color: $primary;
        color: #fff;
        border: none;
        border-radius: 8px;
        margin: 1rem 0;
        transition: all 0.3s linear;
        opacity: 0.9;
        &:hover,
        &:focus{
            opacity: 1;
            cursor: pointer;
            transform: scale(1.1);
            outline: none;
        }

        &:disabled{
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
    .loading{
        animation: rotate360 1s linear infinite;
    }
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 900px) {
    .list_blog_container{
        > h2{
            font-size: 1.2rem;
        }
        > p{
            font-size: 1rem;
        }
        > img{
            width: 300px;
            height: 150px;
            object-fit: cover;
        }
    }
    
}