<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelvago Blog</title>
    <meta name="description" content="Find the best travel deals on Travelvago. Explore top destinations, and plan your dream vacation with us!">
    <link rel="canonical" href="https://travelvago.blog">
    <meta name="google-site-verification" content="eaHTEUkyXqCesmr4N2yeT3B6P1e_59XEV1SzH_QsuTQ" />
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.travelvago.blog/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Travelvago">
        <meta property="og:description" content="Find the best travel deals on Travelvago. Explore top destinations, and plan your dream vacation with us!">
        <meta property="og:image" content="https://www.travelvago.blog/assets/images/tgvlogo.png">
    
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="travelvago.blog">
        <meta property="twitter:url" content="https://www.travelvago.blog/">
        <meta name="twitter:title" content="Travelvago">
        <meta name="twitter:description" content="Find the best travel deals on Travelvago. Explore top destinations, and plan your dream vacation with us!">
        <meta name="twitter:image" content="https://www.travelvago.blog/assets/images/tgvlogo.png">
        <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/hero.css">
    <link rel="stylesheet" href="/assets/styles/featuredPost.css">
    <link rel="stylesheet" href="/assets/styles/post.css">
    <link rel="stylesheet" href="/assets/styles/planningTrip.css">
    <link rel="stylesheet" href="/assets/styles/footer.css">

   


    <style>
        main{
            max-width: 1150px;
            margin: 1rem auto;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <%-include('components/header.ejs', {
        pageActive
    }) %>
    
    <main>
        <!-- Home -->
        <%-include('components/home.ejs',{
            blogs
        }) %>
    </main>
    <!-- Footer -->
    <footer>
        <%-include('components/footer.ejs', {
            currentYear
        }) %>
    </footer>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "TravelAgency",
          "name": "Travelvago",
          "url": "https://travelvago.blog",
          "description": "Find the best travel deals on Travelvago. Explore top destinations, and plan your dream vacation with us!",
          "logo": "https://www.travelvago.blog/assets/images/tgvlogo.png"
        }
        </script>

    <!-- Script -->
    <script src="/assets/js/header.js"></script>
</body>
</html>