<div class="blog_detials_container">
    <div class="blog_details_img_container">
        <img src="<%=blog.image%>" alt="<%=blog.title%>">
    </div>
    <div class="blog_details_content_container">
        <%-blog.content%>
    </div>
</div>