<div class='home_main_container' style="padding: 1rem;">
    <!-- Hero -->
    <%-include('hero.ejs') %>
    <!-- Featured Post -->
    <%-include('featuredPost.ejs', {
        blogs
    }) %>
    <!-- Planning -->
    <%-include('planningTrip.ejs') %>
    <!-- Recent Post -->
    <%-include('recentPost.ejs', {
        blogs,
        componentTitle:"Recent Post"
    }) %>
</div>